@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: auto;
  font-family: Proxima Nova, system-ui, sans-serif;
  font-size: 18px;
  background-color: #1a1a1a;
  color: azure;
}

.container {
  display: grid;
  grid-template-rows: 0.7fr 0.2fr 3.7fr 0.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  margin: auto;
  gap: 20px 1px;
  min-height: 100vh;
  max-width: auto;
}

.ttle {
  grid-area: 1 / 1 / 2 / 2;
  padding: 20px 20px;
  font-size: 28px;
}

.gre {
  color: #1e847f;
  font-size: larger;
  font-style: italic;
}

.gre2 {
  float: right;
  color: #1e847f;
  font-size: larger;
  font-style: italic;
}

.righty {
  float: right;
}

.add-btn {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: right;
  justify-content: center;
  padding: 20px 20px;
  border: 2px solid azure;
  border-radius: 50px;
  cursor: pointer;
  color: azure;
  background-color: transparent;
  box-shadow: rgba(2, 107, 114, 0.377) 1px 0px 0px 0px,
    rgba(6, 227, 243, 0.555) 0px 0px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
.add-btn:hover {
  color: #ffffff;
  background-color: #1e847f;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition-duration: 0.1s;
}

.table {
  grid-area: 3 / 1 / 4 / 2;
  margin: 0px 60px;
}

.footer {
  grid-area: 4 / 1 / 5 / 2;
  color: rgb(110, 110, 110);
  margin-top: 50px;
  justify-self: center;
  padding: 20px 20px;
  font-size: 14px;
}
